import { FC } from "react";
import styles from './styles.module.css'

export type {{properCase name}}Props = {};

const {{pascalCase name}}: FC<{{properCase name}}Props> = (props) => (
  <div className={styles.main}>
    <h1>{{pascalCase name}}</h1>
  </div>
)

export default {{pascalCase name}}
